.CartWidget{
    text-decoration: none;
    width: 50px;
    height: 50px;
 


   
}


.cart-icono{
 
    font-size: 40px;
    color: rgb(103, 180, 180);
    position:relative;
    margin: auto;
  
 
 
}
.cart-valor{
  
    background-color: red;
    width: 50%;
    height: auto;
    border-radius: 50%;
    text-align: center;
    color: aliceblue;
    position:relative;
    left: 20px;
    top: -50px;
   
 
   
 
   
}