
.contenedor-navbar{
    background-color: bisque;
    box-shadow: 0 1px 11px 3px rgb(0 0 0/21%);
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}
.titulo-navbar{
    width: 50%;
    margin-left: 25px;

}
.accesos-navbar{
   
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.accesos-navbar li{
    text-decoration: none;
    list-style: none;
    color:blue;
}
.accesos-navbar li a{
    text-decoration: none;
    list-style: none;
    color:blue;
}

.cart-navbar{
    margin-left: 25px;
}