
.contenedor-navbar{
    background-color: rgba(34, 33, 33, 0.815);
    box-shadow: 0 1px 11px 3px rgb(0 0 0/21%);
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;


}
.titulo-navbar {
    width: 50%;
    margin-left: 25px;


}
.link{
    text-decoration: none;
}
.titulo-navbar p{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: whitesmoke;
}
.accesos-navbar{
   
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.accesos-navbar li{
    text-decoration: none;
    list-style: none;
    color:blue;
}
.accesos-navbar p{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    color: whitesmoke;
}

.cart-navbar{
    margin-left: 25px;
}