.Cart-Vacio{
    height: 600px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
   
}

.Cart-Lleno{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid black;
    display:flex;
    gap: 10px;

}