

.ItemDetail{
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid rgb(182, 174, 174);
    border-radius: 5px;
    box-shadow: 8px 1px 5px rgb(216, 204, 204);
    box-sizing: border-box;
    width: 700px;
    height: 500px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    gap:10px;
    background-color: rgba(34, 33, 33, 0.664);

}
.ItemDetail-Imd{
    border: 1px solid rgba(202, 199, 199, 0.932);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;

}
    .ItemDetail-Imd img{
        width: 100%;
        height: 100%;
        
    }

.ItemDetail-Info{
    width: 300px;
    height: 100%;
    padding-right: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    color: whitesmoke;
    font-size: 18px;

}
    .Info-titulo{
        font-family: 'Dancing Script', cursive;
        font-size: 34px;
        text-align: center;
        color: whitesmoke;
    }
    .Info-Descripcion{
        text-align:start;
        box-sizing: border-box;
        border-radius: 5px;
        margin-top: 10px;


    }
    .Info-Precio{
        text-decoration:solid;
    }